<div>
  <h2>From: <%= @message.sender %></h2>
</div>

<div>
  <h2>Title: <%= @message.title %></h2>
</div>

<div>
  <%= @message.message_field %>
</div>

<div>
  <%= link_to "back to messages", messages_path %>
</div>
