<div class="container">
  <div class="d-flex justify-content-center"><img src="https://st4.depositphotos.com/9904426/27502/i/450/depositphotos_275022004-stock-photo-creative-concept-beer-glasses-on.jpg"></div>
</div>
  <div class="d-flex justify-content-center"><h1>Sign in, Friend </h1></div>
  <div class="d-flex justify-content-center">
      <%= form_with url: session_path, method: :post do |form| %>
        <div>username <%= form.text_field :username %> </div>
        <div>password<%= form.password_field :password %></div>
  <div class="d-flex justify-content-center"><%= form.submit "Log in" %></div>
  </div>

  <% end %>
</div>
