
<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <% if current_user %>
    <% if current_user.admin %>
      <%status = user.enabled ? 'enabled' : 'banned' %>
      <div class="alert alert-primary" role="alert">
        account is currently <%= status %>
      </div>
      <% end %>
    <% end %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class:'btn btn-primary' %>
