
<%= render @style %>
    <strong>Beers:</strong>
    <ul>
      <% @beers.select{|b| b.style_id == @style.id }.each do |b| %>
      <li><%= b.name %></li>
    <% end %> 
    </ul>
  </p>

<%= edit_and_destroy_buttons(@style) %>
